<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="10 seconds">

    <property name="log.base" value="d:/linkingroot/applog/trc"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>===%d{MM-dd HH:mm:ss.SSS} [%thread:%relative] %-5level %logger - %n%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/main.log</file>
        <encoder>
            <pattern>===[%d{MM-dd HH:mm:ss.SSS}] [TLR:%X{tellerId}] [%thread:%relative] %-5level %logger - %n%msg%n </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/history/%d{yyyy-MM-dd}.main.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>txnCode</Key>
            <DefaultValue>xxxx</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${txnCode}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${log.base}/${txnCode}.log</File>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>===[%d{MM-dd HH:mm:ss.SSS}] [TLR:%X{tellerId}] [%thread:%relative] %-5level %logger - %n%msg%n </pattern>
                </layout>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${log.base}/history/%d{yyyy-MM-dd}.${txnCode}.log</fileNamePattern>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="SIFT"/>
    </root>
</configuration>

